@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
:root {
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --neue: "Bebas Neue", cursive;
  --fontLogo: "Lobster Two", cursive;
}
