@media (max-width: 569px) {
  section#tentang .nama-website {
    font-size: 25px !important;
  }
  section#home .slider img {
    height: 50vh !important;
  }
  .my-nav .logo img {
    width: 60px;
    height: 60px;
  }
  .my-nav .logo span {
    margin-left: 0px;
    font-size: 22px;
  }
}
